:root {
    --max-width: 41.125rem;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.face {
    border-bottom: none;
    border-right: 2px solid var(--divider-color);
}

.face__image {
    margin: 0 auto 1rem;
}

.face__business {
    margin-bottom: 0;
}

.about {
    border-bottom: none;
    margin-top: 0;
    margin-left: 4rem;
}

.about__description {
    margin-top: 5rem;
}

.about__contact {
    margin-top: 5.5rem;
    margin-bottom: 0;
}

.projects__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects__data {
    margin-bottom: 2rem;
}

.projects__data--image {
    width: 17.1875rem;
}

.show-description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.show-description .projects__data--image {
    width: 17.1875rem;
    margin: 3rem auto 0.5rem;
}

.show-description .projects__data--text {
    margin-top: 3rem;
}

.projects__button {
    margin-left: 23.8rem;
}

.footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.footer__contact {
    margin-top: 0;
}

.copyright {
    color: var(--title-color);
    font-family: var(--main-font);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    text-align: center;
}