@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    /* Typography */
    /* Font */
    --main-font: 'Poppins', sans-serif;
    /* Size */
    --font-size-small: 0.75rem;
    --font-size-medium: 0.875rem;
    --font-size-large: 1rem;
    /* Weight */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    /* Colors */
    --background-color: #014040;
    --divider-color: #38A687;
    --title-color: #FFF;
    --text-color: #D9D0C1;
    --button-color: #BF8773;
    --border-color: #734D45;
    /* Width */
    --max-width: 17.1875rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background-color);
}

.contact {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    row-gap: 0.5rem;
}

.contact--item {
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 1;
}

.portfolio__header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    align-items: center;
    width: var(--max-width);
    margin: 2rem auto 2rem;
}

.portfolio__header--icon {
    color: var(--text-color);
    font-size: 1.5rem;
}

.portfolio__header--title {
    color: var(--title-color);
    font-family: var(--main-font);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);
    text-align: center;
}

.portfolio__header--whatsapp {
    color: var(--text-color);
    font-size: 1.5rem;
}

main {
    width: var(--max-width);
    margin: 7rem auto 0;
}

.projects {
    border-bottom: 2px solid var(--divider-color)
}

.projects__content {
    margin-top: 2rem;
}

.projects__data {
    margin-bottom: 2rem;
}

.projects__data--image {
    position: relative;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    height: 24rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.projects__data--image img {
    height: 24rem;
    width: 17.1875rem;
}

.projects__data--title {
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
}

.projects__data--description {
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    display: none;
}

.show-description {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(1, 35, 35, 0.99);
    z-index: 10;
}

.show-description .projects__data--image {
    width: 17.1875rem;
    margin: 3rem auto 0.5rem;
}

.show-description .projects__data--title {
    font-size: var(--font-size-medium);
    margin: 0 0 1rem 3rem;
}

.show-description .projects__data--description {
    display: block;
    margin: 0 3rem;
    text-align: justify;
}

footer {
    width: var(--max-width);
    margin: 2rem auto 4.375rem;
}

.footer__logo {
    color: var(--title-color);
    font-family: var(--main-font);
    font-size: var(--font-size-large);
    font-weight: var(--font-size-medium);
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.copyright {
    color: var(--title-color);
    font-family: var(--main-font);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    text-align: center;
}

@media screen and (min-width: 768px) {
    :root {
        --max-width: 41.125rem;
    }

    .projects__content {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .projects__data {
        margin-bottom: 2rem;
    }

    .projects__data--image {
        width: 17.1875rem;
    }

    .show-description {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .show-description .projects__data--image {
        width: 17.1875rem;
        margin: 3rem auto 0.5rem;
    }

    .show-description .projects__data--text {
        margin-top: 3rem;
    }

    .footer {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    .footer__contact {
        margin-top: 0;
    }

    .copyright {
        color: var(--title-color);
        font-family: var(--main-font);
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-regular);
        text-align: center;
    }
}